img{
    height: 30%;
    width: 60%;
    size: 30%;
    margin-top: 30%;
}
#Card{
    width: 40%;
    margin-top: 30%;
    background-color: black;
    box-shadow: inset;

}
ul{
    list-style-type:  none;
}
